<div class="row" style="margin-top: 5%;">
<div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="row">
        <%= devise_error_messages! %>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="field">
            <strong><%= f.label :first_name %></strong>
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="field">
            <strong><%= f.label :last_name %></strong>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="field">
            <strong><%= f.label :email %></strong>
            <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="field">
            <strong><%= f.label :password %></strong>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="field">
            <strong><%= f.label :password_confirmation %></strong>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6" style="margin-top: 10px;">
          <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-link' %>
        </div>
        <div class="col-md-6 text-right" style="margin-top: 10px;">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>