<% if @current_user.following?(@user) %>
  <%= link_to('Unfollow', relationship_path(id: @user.id), method: :delete, remote: true, class: 'btn btn-danger', style: "font-size:12px;margin-top:18%;") %>
<% else %>
  <%= link_to('Follow', relationships_path(followed_id: @user.id), method: :post, remote: true, class: 'btn btn-primary', style: "font-size:12px;margin-top:18%;") %>
<% end %>