if($("#users-followings").length > 0){
  $("#relationsip_actions_<%= @user.id %>").html("<%= escape_javascript(render 'relation_action.html.erb') %>")
} else if($("#users-followers").length > 0){
  $("#relationsip_actions_<%= @user.id %>").html("<%= escape_javascript(render 'relation_action.html.erb') %>")
} else if($("#users-dashboard").length > 0){
  $("#user-profile").html("<%= escape_javascript(render 'profile_settings/profile.html.erb') %>")
}