if($("#users-followings").length > 0){
  if($(".this-user-id").val() == "<%= @current_user.id %>"){
    $("#user_<%=@user.id%>").remove()
    $("#hr-user-<%= @user.id %>").remove()
    if($("#followings-list").html().trim() == ""){
      $("#followings-list").html("<div class='row'><div class='col-md-12 text-center'><h3>Nothing to show</h3></div></div>")
    }
  } else {
    $("#relationsip_actions_<%= @user.id %>").html("<%= escape_javascript(render 'relation_action.html.erb') %>")
  }
} else if($("#users-followers").length > 0){
  $("#relationsip_actions_<%= @user.id %>").html("<%= escape_javascript(render 'relation_action.html.erb') %>")
} else if($("#users-dashboard").length > 0){
  $("#user-profile").html("<%= escape_javascript(render 'profile_settings/profile.html.erb') %>")
}