<div class="row" style="margin-top: 10%;">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <%= devise_error_messages! %>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="field">
            <strong><%= f.label :email %></strong>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="field">
            <strong><%= f.label :password %></strong>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6" style="margin-top: 10px;">
          <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-link" %>
        </div>

        <div class="col-md-6 text-right" style="margin-top: 10px;">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>