<div class="row">
  <% if @user.id == @current_user.id %>
    <div class="col-md-12 text-center">
      <h3><%= @user.full_name %><br/><span style='font-size: 12px;'><%= @user.email %></span></h3>
    </div>
  <% else %>
    <div class="col-md-6">
      <h3><%= @user.full_name %><br/><span style='font-size: 12px;'><%= @user.email %></span></h3>
    </div>
    <div class="col-md-6 text-right">
      <% if @current_user.following?(@user) %>
        <%= link_to('Unfollow', relationship_path(id: @user.id), method: :delete, remote: true, class: 'btn btn-danger', style: "font-size:12px;margin-top:18%;") %>
      <% else %>
        <%= link_to('Follow', relationships_path(followed_id: @user.id), method: :post, remote: true, class: 'btn btn-primary', style: "font-size:12px;margin-top:18%;") %>
      <% end %>
    </div>
  <% end %>
</div>
<hr/>
<div class="row text-center">
  <div class="col-md-6">
    <% if @user.followers.count > 0 %>
      <h3><%= link_to followers_profile_settings_path(user_id: @user.id), class: 'followers-list-link' do %><%= @user.followers.count %> Followers<% end %></h3>
    <% else %>
      <h3>No Followers</h3>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @user.following.count > 0 %>
      <h3><%= link_to followings_profile_settings_path(user_id: @user.id), class: 'followings-list-link' do %><%= @user.following.count %> Following<% end %></h3>
    <% else %>
      <h3>No Followings</h3>
    <% end %>
  </div>
</div>