<div id='user-profile'>
  <%= render partial: "profile.html.erb" %>
</div>
<hr/>
<% if @user.id == @current_user.id %>      
  <div id="new-post">
    <%= render partial: "posts/new.html.erb" %>
  </div>
  <hr/>
<% end %>
<div id="my-posts">
  <% @posts.each do |post| %>
    <div class="row" id="post_<%= post.id %>" style="margin-top: 10px;">
      <div class="col-md-9">
        <strong style="font-size: 16px;"><%= post.content %></strong>
      </div>
      <div class="col-md-3 text-right">
        <% if post.user_id == @current_user.id %>
          <%= link_to('Edit', edit_post_path(post), remote: true, style: "font-size:12px;") %> | <%= link_to('Delete', post_path(post), method: :delete, style: "font-size:12px;") %>
        <% end %>
      </div>
      <div class="col-md-6">
        <span style="font-size:12px;"><%= post.user.full_name %></span>
      </div>
      <div class="col-md-6 text-right">
        <span style="font-size:12px;"><%= post.created_at.strftime("%I:%M %p, %d/%m/%Y") %></span>
      </div>
      <div class="col-md-12">
        <div class="row">
          <% post.post_attachments.each do |attachment| %>
            <div class="col-md-2" style="margin: 5px;">
              <%= image_tag attachment.avatar_url(:thumb) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr/>
  <% end %>
  <% if @posts.count <= 0 %>
    <div class="row text-center">
      <div class="col-md-12">
        <strong style="font-size: 16px;">No Posts Yet</strong>
      </div>
    </div>
  <% end %>
</div>

<style type="text/css">
  .followers-list-link:hover, .followings-list-link:hover {
    text-decoration: none;
  }
</style>