<input type="hidden" class="this-user-id" value="<%= @user.id %>">
<div class="row" style="margin-top:10px;">
  <div class="col-md-3"></div>
  <div class="col-md-6" id="users-followers">
    <div class="row">
      <div class="col-md-12 text-center">
        <% if @current_user.id == @user.id %>
          <h3>PEOPLE WHO FOLLOW YOU</h3>
        <% else %>
          <h3>PEOPLE WHO FOLLOW&emsp;<%= link_to profile_settings_path(user_id: @user.id) do %><%= @user.full_name.to_s.upcase %><% end %></h3>
        <% end %>
      </div>
    </div>
    <hr/>
    <div id='followers-list'>
      <% @followers_list.each do |follower| %>
        <div class="row" id="user_<%= follower.id %>">
          <div class="col-md-6">
            <h3><%= follower.full_name %><br/><span style='font-size: 12px;'><%= follower.email %></span></h3>
          </div>
          <div class="col-md-6 text-right">
            <%= link_to profile_settings_path(user_id: follower.id), class: 'btn btn-info', style: "font-size:12px;margin-top:18%;" do %>View Profile<% end %>
            <% if @current_user.id != follower.id %>
              <span id='relationsip_actions_<%= follower.id %>'>
                <% if @current_user.following?(follower) %>
                  <%= link_to('Unfollow', relationship_path(id: follower.id), method: :delete, remote: true, class: 'btn btn-danger', style: "font-size:12px;margin-top:18%;") %>
                <% else %>
                  <%= link_to('Follow', relationships_path(followed_id: follower.id), method: :post, remote: true, class: 'btn btn-primary', style: "font-size:12px;margin-top:18%;") %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
        <hr id="hr-user-<%= follower.id %>" />
      <% end %>
      <% if @followers_list.count <= 0 %>
        <div class='row'>
          <div class='col-md-12 text-center'>
            <h3>Nothing to show</h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>