<input type="hidden" class="this-user-id" value="<%= @user.id %>">
<div class="row" style="margin-top:10px;">
  <div class="col-md-3"></div>
  <div class="col-md-6" id="users-followings">
    <div class="row">
      <div class="col-md-12 text-center">
        <% if @current_user.id == @user.id %>
          <h3>PEOPLE YOU FOLLOW</h3>
        <% else %>
          <h3>PEOPLE&emsp;<%= link_to profile_settings_path(user_id: @user.id) do %><%= @user.full_name.to_s.upcase %><% end %>&emsp;FOLLOWS</h3>
        <% end %>
      </div>
    </div>
    <hr/>
    <div id='followings-list'>
      <% @followings_list.each do |following| %>
        <div class="row" id="user_<%= following.id %>">
          <div class="col-md-6">
            <h3><%= following.full_name %><br/><span style='font-size: 12px;'><%= following.email %></span></h3>
          </div>
          <div class="col-md-6 text-right">
            <%= link_to profile_settings_path(user_id: following.id), class: 'btn btn-info', style: "font-size:12px;margin-top:18%;" do %>View Profile<% end %>
            <% if @current_user.id != following.id %>
              <span id='relationsip_actions_<%= following.id %>'>
                <% if @current_user.following?(following) %>
                  <%= link_to('Unfollow', relationship_path(id: following.id), method: :delete, remote: true, class: 'btn btn-danger', style: "font-size:12px;margin-top:18%;") %>
                <% else %>
                  <%= link_to('Follow', relationships_path(followed_id: following.id), method: :post, remote: true, class: 'btn btn-primary', style: "font-size:12px;margin-top:18%;") %>
                <% end %>
              </span>
            <% end %>
          </div>
        </div>
        <hr id="hr-user-<%= following.id %>" />
      <% end %>
      <% if @followings_list.count <= 0 %>
        <div class='row'>
          <div class='col-md-12 text-center'>
            <h3>Nothing to show</h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>