<div class="col-md-12">
  <%= form_for @post, remote: true, style: "width:100%;" do |f| %>
    <div class="col-md-12">
      <strong>Edit Post</strong>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= f.text_area :content, class: "form-control", placeholder: "Hey #{current_user.first_name}! What's on your mind?" %>
    </div>
    <div class="col-md-6 edit-content-error" style="margin-top: 10px;"></div>
    <div class="col-md-6 text-right" style="margin-top: 10px;">
      <%= f.submit "Update", class: "btn btn-primary", onclick: 'edit_post_form()' %>
      <button class="btn btn-default btn-close">Close</button>
    </div>
  <% end %>
</div>