<%= form_for @post, remote: true, html: { multipart: true } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= f.text_area :content, class: "form-control", placeholder: "Hey #{current_user.first_name}! What's on your mind?" %>
    </div>
    <div class="col-md-12">
      <%= f.file_field :avatar, multiple: true, name: 'post[post_attachments_attributes][][avatar]' %>
    </div>
    <div class="col-md-6 content-error" style="margin-top: 10px;"></div>
    <div class="col-md-6 text-right" style="margin-top: 10px;">
      <%= f.submit "Click to Post", class: "btn btn-primary", onclick: "post_form()" %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  function post_form(){
    $("#new_post").validate({
      rules: {
        "post[content]": {
          required: true,
        }
      },
      messages: {
        "post[content]": {
          required: "Seems like you have nothing in mind.",
        }
      },
      errorPlacement: function (error, element) {
        var name = $(element).attr('name')
        if(name == 'post[content]') {
          $(".content-error").append(error)
        }
      }
    });
  }
  post_form()
</script>