if($("#all-posts").length > 0){
  $("#all-posts").prepend("<%= escape_javascript(render partial: 'create.html.erb') %>")
} else if($("#my-posts").length > 0){
  $("#my-posts").prepend("<%= escape_javascript(render partial: 'create.html.erb') %>")
}

$("#post_content").val("")