$("#post_<%= @post.id %>").html("<%= escape_javascript(render partial: 'edit.html.erb') %>")

$(".btn-close").on('click', function(e){
  e.preventDefault();
  $("#post_<%= @post.id %>").html("<%= escape_javascript(render 'show.html.erb') %>");
})

function edit_post_form(){
  $("#edit_post_<%= @post.id %>").validate({
    rules: {
      "post[content]": {
        required: true,
      }
    },
    messages: {
      "post[content]": {
        required: "Cant leave it empty.",
      }
    },
    errorPlacement: function (error, element) {
      var name = $(element).attr('name')
      if(name == 'post[content]') {
        $(".edit-content-error").append(error)
      }
    }
  });
}
edit_post_form()