<div class="row" style="margin-top:10px;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <!-- Post Form -->
    <div id="new-post">
      <%= render partial: "new.html.erb" %>
    </div>
    <hr/>
    <!-- All Post -->
    <div id="all-posts">
      <% @posts.each do |post| %>
        <div class="row" id="post_<%= post.id %>" style="margin-top: 10px;">
          <div class="col-md-9">
            <strong style="font-size: 16px;"><%= post.content %></strong>
          </div>
          <div class="col-md-3 text-right">
            <% if post.user_id == @current_user.id %>
              <%= link_to('Edit', edit_post_path(post), remote: true, class: "edit_post#{post.id}", style: "font-size:12px;") %> | <%= link_to('Delete', post_path(post), method: :delete, remote: true, class: "delete_post#{post.id}", style: "font-size:12px;") %>
            <% end %>
          </div>
          <div class="col-md-6">
            <span style="font-size:12px;"><%= post.user.full_name %></span>
          </div>
          <div class="col-md-6 text-right">
            <span style="font-size:12px;"><%= post.created_at.strftime("%I:%M %p, %d/%m/%Y") %></span>
          </div>
          <div class="col-md-12">
            <div class="row">
              <% post.post_attachments.each do |attachment| %>
                <div class="col-md-2" style="margin: 5px;">
                  <%= image_tag attachment.avatar_url(:thumb) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <hr id="hr-post-<%= post.id %>" />
      <% end %>
    </div>
  </div>
</div>
