<!DOCTYPE html>
<html>
  <head>
    <title>Instapost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default" style="background: #354670;margin-bottom: 0px;">
      <div class="container-fluid">
        <div class="navbar-header" style="border-right: 1px solid #fff;">
          <span class="navbar-brand" style="color:#fff;font-size: 20px;">InstaPost <span style="font-size: 10px;">by Huzaifa Saifuddin</span></span>
        </div>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to("Home", posts_path, style: "color:#fff;") %></li>
            <li><%= link_to("Profile", profile_settings_path(user_id: current_user.id.to_s), style: "color:#fff;") %></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" id="search-users" class="form-control" placeholder="Search Friends">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right" style="border-left: 1px solid #fff;">
            <li><%= link_to("Logout", destroy_user_session_path, method: :delete, style: "color:#fff;") %></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

<script type="text/javascript">
  function search_users(){
    $("#search-users").autocomplete({
      minLength: 3,
      source: function(request, response){
        $.ajax({
          dataType: "json",
          type : 'get',
          url: '/users/search',
          data: {q: request.term.replace(/[^\w\s]/gi, ''), remote: "true"},
          success: function(data) {
            response(data);
          }
        });
      },
      select: function( event, ui ){
        // $.ajax({
        //   type: "GET",
        //   dataType: "html",
        //   url: "/profile_settings?user_id="+ ui.item["id"],
        // })
      },
      create: function () {
        $(this).data('ui-autocomplete')._renderItem = function (ul, user) {          
          return $('<li class="text-center" style="font-size:16px;">')
            .append("<a href='/profile_settings?user_id=" + user.id + "'>" + user.label + "</a>")
            .appendTo(ul);
        }
      }
    });
  }

  $('#search-users').keyup(search_users);
</script>

<style type="text/css">
  .ui-menu-item-wrapper:hover, .ui-menu-item-wrapper:active {
    background: none;
    border: none;
    color: #000;
  }

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: none;
    border: none;
    color: #000; 
  }
</style>